extends layout

block content
	.container
		h1 About Us #{title}
		p aoisjdkhnfdjahdajsldhadjlksahd ljkasdhaslkdhsad
		ul 
			li asddas
			li asdadsdasdasd
			li sdasdadasd 
		p dasdsadsad sadasdadada more asadaadsd about me! :P