extends layout

block content
	.jumbotron
		.container
			h1 How may I screw you?
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed malesuada augue, vel aliquet lectus. Curabitur consequat tristique magna in sagittis. Mauris pharetra sagittis ultrices. Quisque est eros, gravida et felis mollis, fermentum pharetra sapien. Fusce eleifend leo arcu, euismod pharetra ligula lobortis dictum. Suspendisse nec volutpat urna, in volutpat erat. Vestibulum cursus in purus et mattis.
			a.btn.btn-primary.btn-lg(href="#") Learn less
		
	.container
		.row
			.col-md-4
				h2 About Us
				p Donec eget mattis mauris. Nam ac ipsum velit. Phasellus vulputate commodo gravida. Cras congue velit at augue ornare, nec vulputate quam porttitor. Suspendisse nec odio quis sem fermentum bibendum. Donec eu vehicula metus, faucibus mattis nisi. Cras sed sagittis nunc. Cras accumsan nisi et auctor vulputate. Aenean consectetur ante auctor, tristique sapien vel, laoreet metus. Morbi quis molestie velit. In nec lectus sit amet elit mollis blandit sit amet nec magna. Nullam vel pharetra ipsum. Sed a varius massa. Praesent rutrum posuere purus ut laoreet. Etiam posuere, augue sed aliquam sagittis, erat est dictum dolor, sit amet sagittis orci mi a metus.
				a.btn.btn-default(href="#") View details
			.col-md-4
				h2 Services
				p Donec eget mattis mauris. Nam ac ipsum velit. Phasellus vulputate commodo gravida. Cras congue velit at augue ornare, nec vulputate quam porttitor. Suspendisse nec odio quis sem fermentum bibendum. Donec eu vehicula metus, faucibus mattis nisi. Cras sed sagittis nunc. Cras accumsan nisi et auctor vulputate. Aenean consectetur ante auctor, tristique sapien vel, laoreet metus. Morbi quis molestie velit. In nec lectus sit amet elit mollis blandit sit amet nec magna. Nullam vel pharetra ipsum. Sed a varius massa. Praesent rutrum posuere purus ut laoreet. Etiam posuere, augue sed aliquam sagittis, erat est dictum dolor, sit amet sagittis orci mi a metus.
				a.btn.btn-default(href="#") View details
			.col-md-4
				h2 Contact
				p Donec eget mattis mauris. Nam ac ipsum velit. Phasellus vulputate commodo gravida. Cras congue velit at augue ornare, nec vulputate quam porttitor. Suspendisse nec odio quis sem fermentum bibendum. Donec eu vehicula metus, faucibus mattis nisi. Cras sed sagittis nunc. Cras accumsan nisi et auctor vulputate. Aenean consectetur ante auctor, tristique sapien vel, laoreet metus. Morbi quis molestie velit. In nec lectus sit amet elit mollis blandit sit amet nec magna. Nullam vel pharetra ipsum. Sed a varius massa. Praesent rutrum posuere purus ut laoreet. Etiam posuere, augue sed aliquam sagittis, erat est dictum dolor, sit amet sagittis orci mi a metus.
				a.btn.btn-default(href="#") View details 
	






